* {
  box-sizing: border-box;
}

/*Cascading Style Sheet*/
/* 선택자(selector) */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

div#header-center {
  /*div 태그의 id일 경우에 한해서 div 키워드 생략 가능*/
  margin: 0 auto;
  width: 1080px;
}

#header-search h1 {
  text-decoration: none;
}

div#header-search h1 {
  /* 부모 태그의 id에서 자식 태그 > 로 선택 or 자식 태그에 별도의 id 붙여주기 */
  width: 214px;
  height: 50px;
  display: inline-block;
  background-image: url("./sp_search.png");
  background-position: -6px -8px;
  background-repeat: no-repeat;
  /* background: url("./sp_search.png"); 4px 11px no-repeat 으로 한 번에 작성 가능*/
  vertical-align: middle;
  position: relative;
  top: -6px;
}

#header-search h1 span {
  display: none;
}

/* #header-center h1 {
   자손 태그는 > 없이 공백을 두고 바로 접근 가능 
} */

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0; */
  padding: 12px 0 12px 10px;
  width: 520px;
  height: 50px;
  display: inline-block;
  border: 2px solid #19ce60;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: middle;
  width: 405px;
}
